main {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

main > figure {
  width: 80%;
  margin: 60px auto 0;
  padding: 0 4% 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fadeSlideUp 0.4s ease-in-out;
}

img[alt="body-logo"] {
  animation: fadeSlideUp 0.4s ease-in-out;
  width: 160px;
  height: 160px;
}

main > figure > figcaption {
  font-weight: 300;
  font-size: 24px;
}

main > figure div {
  width: 220px;
  padding: 1%;
}

main > figure div p {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

main > figure div p i {
  font-size: 32px;
  color: gold;
}

main > figure div button {
  width: 100%;
  margin-top: 4px;
  box-shadow: var(--shadow-default);
  background-color: var(--purple-trouble);
  border: 2px solid var(--yellow-mid);
  border-radius: 6px;
  color: white;
}

main > figure div button i {
  color: white;
}

main > section {
  width: 80%;
  min-height: 260px;
  padding: 2%;
  margin: 0 auto;
  animation: fadeSlideUp 0.4s ease-in-out;
}

main > section h3 {
  font-weight: 300;
  font-size: 20px;
}
