header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-default);
}

img[alt="logo"] {
  margin-left: 32px;
  animation: fadeSlideUp 0.4s ease-in-out;
}

span {
  padding: 8px;
  margin-right: 32px;
  border-radius: 20px;
  border: 2px solid var(--blue-sea);
  box-shadow: var(--shadow-default);
  animation: fadeSlideUp 0.4s ease-in-out;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

figure {
  width: 80%;
  margin: 40px auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--blue-sea);
  animation: fadeSlideUp 0.4s ease-in-out;
}

figcaption {
  font-weight: 300;
  font-size: 24px;
}

div {
  width: 200px;
  padding: 1%;
}

p {
  display: none;
}

button {
  width: 100%;
  border: 2px solid var(--blue-sea);
  box-shadow: var(--shadow-default);
}

section {
  width: 80%;
  min-height: 320px;
  padding: 12px;
  margin: 0 auto;
  border: 1px solid var(--blue-sea);
  animation: fadeSlideUp 0.4s ease-in-out;
}

h3 {
  font-weight: 300;
}
