body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  animation: fadeSlideUp 0.4s ease-in-out;
}

form {
  width: 24%;
  margin: 0 auto;
}

section {
  padding: 28px;
  text-align: center;
}

h1 {
  font-weight: 300;
}

img[alt="logo"] {
}

form {
  padding: 32px;
}

fieldset {
  border: none;
  margin: 6px 0;
}

button[type="submit"] {
  width: 100%;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: var(--radius);
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
