main {
  padding: 24px;
}

main > section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeSlideUp 0.4s ease-in-out;
}

h2 {
  margin-bottom: 16px;
  font-weight: 300;
}

button[type="button"] {
  box-shadow: var(--shadow-default);
  background-color: var(--purple-trouble);
  border-radius: 6px;
  border: 2px solid var(--yellow-mid);
  color: white;
}

button[type="button"] i {
  color: white;
}

form {
  grid:
    "descricao descricao descricao"
    "valor valor valor"
    "imagem imagem imagem"
    ". . button";
}

fieldset#descricao {
  grid-area: descricao;
}

fieldset#valor {
  grid-area: valor;
}

fieldset#imagem {
  grid-area: imagem;
}

.filepond--root {
  animation: fadeSlideUp 0.4s ease-in-out;
}

.filepond--browser {
  animation: none !important;
}

.filepond--file {
  background-color: var(--green-glazed) !important;
}

.filepond--file-action-button {
  background-color: var(--red-mid) !important;
}
