main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

main > section {
  width: 60%;
  text-align: center;
  animation: fadeSlideUp 0.4s ease-in-out;
}

img[alt="logo"] {
  width: 70px;
  height: 70px;
}

h1,
h2 {
  font-weight: 300;
}

#cards-container {
  padding: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
