main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 50%;
  padding: 32px;
  display: grid;
  grid:
    "logo logo logo"
    "h1 h1 h1"
    "email email senha"
    "username nome cnpj"
    "button button button";
  gap: 4px;
  animation: fadeSlideUp 0.4s ease-in-out;
}

img[alt="logo"] {
  width: 100px;
  height: 100px;
  grid-area: logo;
}

form h1 {
  grid-area: h1;
  font-weight: 300;
}

fieldset {
  border: none;
  margin: 6px 0;
}

fieldset#email {
  grid-area: email;
}

fieldset#senha {
  grid-area: senha;
}

fieldset#username {
  grid-area: username;
}

fieldset#nome {
  grid-area: nome;
}

fieldset#cnpj {
  grid-area: cnpj;
}

button[type="submit"] {
  grid-area: button;
  box-shadow: var(--shadow-default);
  background-color: var(--purple-trouble);
  color: white;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: var(--radius);
}
