main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 50%;
  padding: 32px;
  display: grid;
  grid:
    "h1 h1 h1"
    "nome nome senha"
    "email email username"
    "cpf cpf rg"
    "curso curso curso"
    "endereco endereco endereco"
    "button button button";
  gap: 4px;
  animation: fadeSlideUp 0.4s ease-in-out;
}

form h1 {
  grid-area: h1;
  font-weight: 300;
}

fieldset {
  border: none;
  margin: 6px 0;
}

fieldset#nome {
  grid-area: nome;
}

fieldset#senha {
  grid-area: senha;
}

fieldset#email {
  grid-area: email;
}

fieldset#username {
  grid-area: username;
}

fieldset#cpf {
  grid-area: cpf;
}

fieldset#rg {
  grid-area: rg;
}

fieldset#curso {
  grid-area: curso;
}

fieldset#endereco {
  grid-area: endereco;
}

button[type="submit"] {
  grid-area: button;
  box-shadow: var(--shadow-default);
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: var(--radius);
}

select {
  padding: 6px;
}
