@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --radius: 2.8px;
  --btn-opacity: 0.8;
  --sobreposicao: rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-focus: 0 0 4px rgba(106, 106, 106, 0.2);
  --shadow-default: 0 4px 4px rgba(0, 0, 0, 0.234);
  --blue-sea: #041635;
  --spinner: #ccc;
  --border: #eaeaea;
  --green-mid: #4caf50;
  --green-light: #2bdb91;
  --green-glazed: rgba(43, 219, 145, 0.5);
  --red-mid: #f44336;
  --red-light: #ffe8e2;
  --red-glazed: rgba(255, 99, 132, 0.5);
  --yellow-mid: #ffc107;
  --yellow-light: #f6f6ce;
  --gray-mid: #969aa3;
  --gray-lin: #ecececff;
  --purple-trouble: #340444;
  --purple-trouble-glass-light: rgba(52, 4, 68, 0.18);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--blue-sea);
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  padding: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  background-color: white;
}

button:hover {
  opacity: var(--btn-opacity);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-out {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
