.ancora-card {
  padding: 60px;
  text-decoration: none;
  border-left: 5px solid var(--purple-trouble);
  border-radius: var(--radius);
  box-shadow: var(--shadow-default);
  text-align: left;
  transition: box-shadow 0.3s ease;
  animation: fadeSlideUp 0.4s ease-in-out;
}

.ancora-card:visited {
  color: var(--blue-sea);
}

.ancora-card > i {
  font-size: 24px;
  margin: 0 10px 12px 0;
}

.ancora-card > span {
  font-size: 18px;
  font-weight: 300;
}

.ancora-card:hover {
  box-shadow: var(--shadow-hover);
}


