.dialog-sobreposicao {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: var(--sobreposicao);
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

.dialog-container {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow-default);
  text-align: center;
  position: relative;
  overflow-y: auto;
  padding: 40px;
  min-width: 300px;
  max-width: 90%;
}

.dialog-container h4 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 18px;
}

.dialog-container button {
  border: none;
  border-radius: var(--radius);
  padding: 8px 16px;
  margin: 0 2px;
}

.dialog-container button.confirmar {
  background-color: var(--green-mid);
  color: white;
}

.dialog-container button.cancelar {
  background-color: var(--red-mid);
  color: white;
}
