.empty-state {
  padding: 16px;
  width: 100%;
}

.empty-state > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.empty-state figcaption {
  width: 100%;
  font-weight: 300;
  animation: fadeSlideUp 0.4s ease-in-out;
  font-weight: 300;
}

.empty-state > div > h2 {
  margin: 0;
  animation: fadeSlideUp 0.4s ease-in-out;
}

@media (min-width: 758px) {
  .empty-state {
    padding: 32px;
  }
}
