header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-default);
  background-color: var(--purple-trouble);
}

img[alt="logo"] {
  margin-left: 32px;
  animation: fadeSlideUp 0.4s ease-in-out;
  width: 60px;
  height: 60px;
}

header div {
  margin-right: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
}

header div span {
  padding: 8px;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  animation: fadeSlideUp 0.4s ease-in-out;
  font-size: 12px;
}

header div i {
  cursor: pointer;
  animation: fadeSlideUp 0.4s ease-in-out;
  color: white;
}
