.reward-card {
  width: 300px;
  height: 300px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-default);
  animation: fadeSlideUp 0.4s ease-in-out;
}

img[alt="reward-option"] {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.reward-card div {  
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reward-card div h3 {
  font-weight: 300;
  font-size: 16px;
  width: 80%;
}

.reward-card div button {
  padding: 6px;
  border-radius: 20px;
  box-shadow: var(--shadow-default);
  font-size: 12px;
  background-color: var(--purple-trouble);
  color: white;
}

.reward-card div button i {
  color: gold;
  margin-left: 4px;
}

.reward-card p {
  padding: 0 16px;
  font-weight: 300;
  font-size: 14px;
}
