.reward-card {
  width: 300px;
  height: 300px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-default);
  animation: fadeSlideUp 0.4s ease-in-out;
}

img[alt="reward-option"] {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.reward-card div {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reward-card div h3 {
  font-weight: 300;
  font-size: 16px;
}

.reward-card div button {
  padding: 8px;
  border-radius: 20px;
  border: 2px solid var(--blue-sea);
  box-shadow: var(--shadow-default);
  font-size: 12px;
  background-color: white;
}
